@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #dedde5ee;

}
@theme {
  --color-primary: #4caf50;
  --color-secondary: #3E7D32;
  --color-accent: #FFC107;
  --color-gunmetal: rgb(38, 50, 56);
  --color-honeydew: #F1F8E9;
}
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgba(255, 255, 255, 0.997);
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}